# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vs-*
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Kettan Specific
Kettan.Server/tmp-*/
Kettan.Server/appsettings.json
Kettan.Server/appsettings.Development.json
Kettan.Server/appsettings.Production.json
kettan.client/dist/
kettan.client/build/
kettan.client/.env.development
kettan.client/.env.production

# OS
.DS_Store
Thumbs.db